#pagina{
    background-image: linear-gradient(320deg, #bfec7f 0, #a9e376 25%, #90d86c 50%, #75cd63 75%, #5ac45e 100%);
    border: solid;
    border-style:none;
    box-shadow: 8px 8px 12px;
    margin: 20px;
    height: auto;
    width: auto;
    float: left;
    border: solid;
}
header{
    background-color: white;
    background-size:cover;
    
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
    font-size: small;
    margin-left: 1%;
}
span{
    color: yellow;
}
#img{
    width: 140px;
    border-radius: 20px;
    border: 5px;
    border-style:none;
    float: left;
}

#img1{
    width: 650px;
    border-radius: 20px;
    border: 5px;
    border-style:none;
    float: left;
}

#derecha{
    float: right;
    padding-left: 20px;
}

footer{
    float: left;
    width: 100%;
    text-align: center;
}

#tabla{
    width: 100%;
}